spring:
  application:
    name: portfolio-backend
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/portfolio_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  flyway:
    enabled: false
    locations: classpath:db/migration

server:
  port: 8080

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:verysecretkeyMustBeLongEnoughForHS512AlgorithmSoMakeItsuperLongAndComplex12345!}
  expiration: 86400000 # 1 day
  refresh-expiration: 604800000 # 7 days

# Logging
logging:
  level:
    root: INFO
    com.portfolio.backend: DEBUG

cloudinary:
  cloud-name: ${CLOUDINARY_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
